/.DS_Store
/sample_data
/screenshots
colormap_ygb.json
__pycache__/vtk_helpers.cpython-310.pyc
mix.docx
bugs_photos/*
certificate/*
ILLUSTRATION1/*
ILLUSTRATION2/*
ILLUSTRATION3/*
NEW_illustration1
Poster/*
raw_pv_screenshots/*
__pycache__/*
